<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/layout'}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title th:text="${title} +' | Skote - Admin & Dashboard Template'"></title>

</head>
<th:block layout:fragment="pagecss">
  <link th:href="@{/assets/libs/@fullcalendar/daygrid/main.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/libs/@fullcalendar/core/main.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/libs/@fullcalendar/bootstrap/main.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/libs/@fullcalendar/timegrid/main.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/libs/select2/css/select2.min.css}" rel="stylesheet" type="text/css"/>
</th:block>
<body>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div layout:fragment="content">
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div th:replace="page-title :: topnavbar(${title},${item},${subitem})"></div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">

            <div class="row">
              <div class="col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-grid">
                      <button class="btn font-16 btn-primary" id="btn-new-event"><i
                              class="mdi mdi-plus-circle-outline"></i>Registrar cliente
                      </button>
                    </div>


                    <div id="external-events" class="mt-2">
                      <br>
                      <p class="text-muted">Información de clientes en habitaciónes
                      </p>
                      <div class="external-event fc-event bg-primary" data-class="bg-info">
                        <i
                                class="mdi mdi-checkbox-blank-circle font-size-11 me-2"></i>RESERVADOS
                      </div>
                      <div class="external-event fc-event bg-warning" data-class="bg-warning">
                        <i
                                class="mdi mdi-checkbox-blank-circle font-size-11 me-2"></i>OCUPADOS
                      </div>
                    </div>

                    <div class="row justify-content-center mt-5">
                      <img th:src="@{/assets/images/verification-img.png}" alt=""
                           class="img-fluid d-block">
                    </div>
                  </div>
                </div>
              </div> <!-- end col-->

              <div class="col-lg-9">
                <div class="card">
                  <div class="card-body">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div> <!-- end col -->

            </div>

            <div style='clear:both'></div>

            <!-- Add New Event MODAL -->
            <div class="modal fade" id="event-modal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header py-3 px-4 border-bottom-0">
                    <div>
                      <h5 class="modal-title" id="modal-title">Registro</h5>
                    </div>

                    <div class="row mx-2 ajax-select mt-lg-0">
                      <select class="form-select" id="select-buscar-personas" style="width: 260px"></select>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                  </div>
                  <div class="modal-body p-4">
                    <form class="needs-validation" name="event-form" id="form-event" novalidate>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="cliente-nombre" class="form-label">Nombres:</label>
                            <input class="form-control" placeholder="Ingrese nombres"
                                   type="text" name="title" id="cliente-nombre" required
                                   value=""/>
                            <div class="invalid-feedback">El nombre es obligatorio</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="cliente-apellido" class="form-label">Apellidos:</label>
                            <input class="form-control" placeholder="Ingrese apellidos"
                                   type="text" name="title" id="cliente-apellido" required
                                   value=""/>
                            <div class="invalid-feedback">El apellido es obligatorio</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="cliente-di" class="form-label">Documento:</label>
                            <input class="form-control" placeholder="Identificador"
                                   type="text" name="title" id="cliente-di" required
                                   value=""/>
                            <div class="invalid-feedback">El documento es obligatorio</div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="cliente-habitacion" class="form-label">Habitación:</label>
                            <select class="form-control form-select" name="category"
                                    id="cliente-habitacion">
                              <option hidden selected> --SELECCIONE--</option>
                              <option th:each="h : ${listaHabitacionesDisponibles}"
                                      th:value="${h.idHabitacion}" th:text="${h.nroHabitacion}"
                              ></option>
                            </select>
                            <div class="invalid-feedback">
                              Seleccione una habitación
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="estado-habitacion" class="form-label">Tipo de registro:</label>
                            <select class="form-control form-select" name="category"
                                    id="estado-habitacion">
                              <option selected> --SELECCIONE--</option>
                              <option data-color="bg-primary" value="RESERVADO">RESERVAR</option>
                              <option data-color="bg-warning" value="OCUPADO">OCUPAR</option>
                            </select>
                            <div class="invalid-feedback">Seleccion el tipo</div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-6">
                          <button type="button" class="btn btn-danger"
                                  id="btn-delete-event">Eliminar
                          </button>
                        </div>
                        <div class="col-6 text-end">
                          <button type="button" class="btn btn-light me-1"
                                  data-bs-dismiss="modal">Cerrar
                          </button>
                          <button type="submit" class="btn btn-success"
                                  id="btn-save-event">Guardar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div> <!-- end modal-content-->
              </div> <!-- end modal dialog-->
            </div>
            <!-- end modal-->

          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <!-- Start footer -->
    <div th:replace="footer :: footer"></div>
    <!-- end footer -->
  </div>
</div>
<!-- end main content-->

<!-- END layout-wrapper -->

<th:block layout:fragment="script">
  <!-- plugin js -->
  <script th:src="@{/assets/libs/moment/min/moment.min.js}"></script>
  <script th:src="@{/assets/libs/jquery-ui-dist/jquery-ui.min.js}"></script>
  <script th:src="@{/assets/libs/@fullcalendar/core/main.min.js}"></script>
  <script th:src="@{/assets/libs/@fullcalendar/bootstrap/main.min.js}"></script>
  <script th:src="@{/assets/libs/@fullcalendar/daygrid/main.min.js}"></script>
  <script th:src="@{/assets/libs/@fullcalendar/timegrid/main.min.js}"></script>
  <script th:src="@{/assets/libs/@fullcalendar/interaction/main.min.js}"></script>
  <script th:src="@{/assets/libs/select2/js/select2.min.js}"></script>
  <script th:src="@{/assets/libs/select2/js/select2es.min.js}"></script>

  <!-- Calendar init -->
  <!--  <script th:src="@{/assets/js/pages/calendars-full.init.js}"></script>-->
  <script th:inline="javascript">
    $(document).ready(function () {
      let eventModal = $("#event-modal");
      let modalTitle = $("#modal-title");
      let formEvent = $("#form-event");
      let validationElements = document.getElementsByClassName("needs-validation");
      let currentDate = new Date();
      let currentDay = currentDate.getDate();
      let currentMonth = currentDate.getMonth();
      let currentYear = currentDate.getFullYear();

      // Configuramos el calendario
      let calendar = new FullCalendar.Calendar(document.getElementById("calendar"), {
        plugins: ["bootstrap", "interaction", "dayGrid", "timeGrid"],
        editable: true,
        eventDurationEditable: true, // Permitir el cambio de duración
        droppable: true,
        selectable: true,
        defaultView: "dayGridMonth",
        themeSystem: "bootstrap",
        header: {
          left: "prev,next today",
          center: "title",
          right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth"
        },
        eventClick: function (event) {
          eventModal.modal("show");
          formEvent[0].reset();
          let selectedEvent = event.event;
          let cliente = selectedEvent.extendedProps.cliente;
          let {persona, habitacion} = cliente;
          $('#cliente-nombre').val(persona.nombre);
          $('#cliente-apellido').val(persona.apellido);
          $('#cliente-di').val(persona.documentoIdentidad);
          $('#cliente-habitacion').val(habitacion.idHabitacion);
          $("#estado-habitacion").val(habitacion.estadoHabitacion);
          modalTitle.text("Editar datos");
        },
        dateClick: function (date) {
          showModal(date);
        },
        events: []
      });

      // Inicializamos el calendario
      calendar.render();

      // Manejador del envío del formulario
      formEvent.on("submit", async function (event) {
        event.preventDefault();
        let inputs = $("#form-event :input");

        let nombre = $('#cliente-nombre').val();
        let apellido = $('#cliente-apellido').val();
        let di = $('#cliente-di').val();
        let idHabitacion = $("#cliente-habitacion").val();
        let colorHabitacion = $("#estado-habitacion").find(":selected").attr('data-color');
        console.log(colorHabitacion)

        let estadoHabitacion = $("#estado-habitacion").val();

        if (!validationElements[0].checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
          validationElements[0].classList.add("was-validated");
        } else {
          let cliente = {
            fechaRegistro: selectedEvent.date,
            persona: {
              nombre: nombre,
              apellido: apellido,
              documentoIdentidad: di
            },
            habitacion: {
              idHabitacion: idHabitacion,
              estadoHabitacion: estadoHabitacion
            }
          }

          console.log(cliente)
          let eventData = {
            title: nombre + ' ' + apellido,
            start: selectedEvent.date,
            allDay: selectedEvent.allDay,
            className: colorHabitacion,
            extendedProps: {
              cliente: cliente
            }
          };

          try {
            const response = await fetch("/cliente/api/registrar", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(cliente),
            })

            const data = await response.json();

            console.log(data)
            eventData.extendedProps.cliente = data;
            calendar.addEvent(eventData);
            eventModal.modal("hide");
          } catch (error) {
            console.log(error);
          }
        }
      });

      $("#btn-delete-event").on("click", function (event) {
        if (selectedEvent) {
          selectedEvent.remove();
          selectedEvent = null;
          eventModal.modal("hide");
        }
      });

      $("#btn-new-event").on("click", function (event) {
        showModal({date: new Date(), allDay: true});
      });

      function showModal(date) {
        eventModal.modal("show");
        formEvent.removeClass("was-validated");
        formEvent[0].reset();
        $('#cliente-nombre').val();
        $('#cliente-apellido').val();
        $('#cliente-di').val();
        modalTitle.text("Agregar registro");
        selectedEvent = date;
      }

      //PETICION AJAX
      fetch("/cliente/api/lista")
              .then(function (response) {
                return response.json();
              })
              .then(function (clientes) {
                console.log(clientes);

                let events = [];
                for (let i = 0; i < clientes.length; i++) {
                  let cliente = clientes[i];
                  let color;
                  if (cliente.habitacion.estadoHabitacion === 'RESERVADO') {
                    color = 'bg-primary'
                  } else if (cliente.habitacion.estadoHabitacion === 'OCUPADO') {
                    color = 'bg-warning'
                  }
                  events.push({
                    title: cliente.persona.nombre + ' ' + cliente.persona.apellido,
                    start: new Date(cliente.fechaRegistro),
                    className: color,
                    extendedProps: {
                      cliente: cliente
                    }
                  });
                }
                calendar.addEventSource(events);
              });


      $("#select-buscar-personas").select2({
        language: 'es',
        dropdownParent: $('#event-modal')
      });

      /*$(".buscar-personas-ajax").select2({
        ajax: {
          url: "/api/persona/pageable",
          dataType: "json",
          delay: 1000,
          data: function (params) {
            return {
              q: params.term,
              page: params.page
            };
          },
          processResults: function (data, params) {
            console.log(data)
            console.log(params)
            return (params.page = params.page || 1), {
              results: data.items,
              pagination: {more: 30 * params.page < data.total_count}
            };
          },
          cache: true
        },
        placeholder: "Buscar personas...",
        minimumInputLength: 1,
        templateResult: function (result) {
          if (result.loading) {
            return result.text;
          }

          var t = $(`
  <div class='select2-result-repository clearfix'>
    <div class='select2-result-repository__meta'>
      <div class='select2-result-repository__title'></div>
      <div class='select2-result-repository__description'></div>
    </div>
  </div>`);

          return (
                  t.find(".select2-result-repository__title").text(result.nombreCompleto),
                  t.find(".select2-result-repository__description").text(result.documentoIdentidad)
          )
        },
        templateSelection: function (result) {
          return result.nombreCompleto || result.text;
        }
      });
      */
    });
  </script>
</th:block>
</body>

</html>