<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{'layouts/' + ${template}}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
  <title>Sistema de Gestión Hotelera</title>
</head>
<th:block layout:fragment="pagecss">
  <th:block th:if="${fragmento == 'tabla'}">
    <!-- DataTables -->
    <link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet"
          type="text/css"/>

    <!-- Responsive datatable examples -->
    <link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet"
          type="text/css"/>
  </th:block>

  <link th:href="@{/assets/libs/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" th:href="@{/assets/css/icons.min.css}"
        type="text/css">
</th:block>
<body>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div layout:fragment="content">
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div th:replace="page-title :: topnavbar(${title},${item},${subitem})"></div>
        <!-- end page title -->

        <div th:if="${exito}" class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="mdi mdi-check-all me-2"></i>
          <span th:text="${exito}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <th:block th:if="${fragmento == 'tabla'}">
                  <div class="d-flex flex-row-reverse mb-2">
                    <a th:href="@{/tipo-producto/formulario-registro}" class="btn btn-success">
                      Registrar
                      <i class="fas fa-pen-alt"></i>
                    </a>
                  </div>
                  <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                    <thead>
                    <tr>
                      <th>Id</th>
                      <th>Tipo de habitación</th>
                      <th>Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t : ${listaTiposHabitaciones}">
                      <td th:text="${t.idTipoHabitacion}"></td>
                      <td th:text="${t.nombreTipoHabitacion}"></td>

                      <td>
                        <a th:href="@{/tipo-habitacion/formulario-modificar/{id}(id=${t.idTipoHabitacion})}"
                           class="btn btn-primary btn-rounded waves-effect waves-light" data-bs-toggle="tooltip"
                           data-bs-placement="top" title="Modificar">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                        <form th:action="@{/tipo-habitacion/eliminar}" method="POST" class="d-inline">
                          <input type="hidden" th:value="${t.idTipoHabitacion}" name="idTipoHabitacion">
                          <button type="submit"
                                  class="btn btn-danger btn-rounded waves-effect waves-light
                                  btn-eliminar" data-bs-toggle="tooltip"
                                  data-bs-placement="top" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </form>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </th:block>
                <th:block th:if="${fragmento} == 'formulario'">
                  <form th:action="@{${tipoFormulario == 'registrar'? '/tipo-habitacion/registrar': '/tipo-habitacion/modificar'}}"
                        th:object="${tipoHabitacion}" method="post">

                    <input type="hidden" th:field="*{idTipoHabitacion}">
                    <input type="hidden" th:field="*{estado}">
                    <input type="hidden" th:filed="*{fechaRegistro}">


                    <div class="row mb-4">
                      <h4 class="fw-bold">Datos del Tipo de producto</h4>
                      <div class="col-lg-4 mb-2">
                        <label for="nombreTipoProducto" class="form-label">Nombres: </label>
                        <input type="text" class="form-control"
                               placeholder="..." id="nombreTipoProducto"
                               th:field="*{nombreTipoHabitacion}">
                      </div>
                      <div class="d-flex flex-row-reverse">
                        <button type="submit"
                                class="btn waves-effect btn-label waves-light"
                                th:classappend="${tipoFormulario == 'registrar' ? 'btn-success btn-registrar' : 'btn-primary btn-modificar'}">
                          <i class="bx bx-paper-plane label-icon"></i>
                          <span th:text="${tipoFormulario == 'registrar' ? 'Registrar' : 'Modificar'}"></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </th:block>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <!-- Start footer -->
    <div th:replace="footer :: footer"></div>
    <!-- end footer -->
  </div>
</div>
<!-- end main content-->

<!-- END layout-wrapper -->

<th:block layout:fragment="script">
  <!-- Font awesome -->
  <!--  <script th:src="@{/assets/libs/font-awesome/js/all.min.js}"></script>-->
  <!-- dashboard init -->
  <script th:src="@{/assets/libs/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/app/botones-crud.js}"></script>

  <th:block th:if="${fragmento == 'tabla'}">
    <!-- Required datatable js -->
    <script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <!-- Buttons examples -->
    <script th:src="@{/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/libs/jszip/jszip.min.js}"></script>
    <script th:src="@{/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
    <script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

    <!-- Responsive examples -->
    <script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
    <script>
      $(document).ready(function () {
        $("#datatable").DataTable({
          language: {
            url: "/assets/libs/datatables.net/js/dataTable-es-ES.json"
          },
          lengthMenu: [10, 20, 50, 100]
        });
      })
    </script>
  </th:block>

  <th:block th:if="${fragmento == 'formulario'}">
    <script>
      $(document).ready(function () {
        const configFormularioRegistrar = {
          selector: '.btn-registrar',
          tipoEvento: 'click',
          titulo: 'Registro de nuevo tipo de producto',
          textoAlerta: 'Estas seguro de registrar el tipo de habitación?',
          textoBoton: 'Si, registrar tipo de habitación'
        }

        const configFormularioModificar = {
          selector: '.btn-modificar',
          tipoEvento: 'click',
          titulo: 'Modificar tipo de habitación',
          textoAlerta: 'Estas seguro de modificar el tipo de habitación?',
          textoBoton: 'Si, modificar tipo de habitación'
        }

        alertaEnviarFormulario(configFormularioRegistrar);
        alertaEnviarFormulario(configFormularioModificar);
      })
    </script>
  </th:block>
</th:block>


</body>

</html>